<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(cartProducts.length>0){ %>
                    <h2>Products</h2>
                    <ul>
                        <% for(product of cartProducts){ %>
                            <li>
                                <p><%= product.title + '\tAdet: ' +product.CartItem.quantity%></p>
                                <form action="cart-delete-item" method="POST">
                                    <input type="submit" value="Delete Item">
                                    <input type="hidden" name="id" value="<%= product.id %>">
                                </form>
                                
                            </li>
                            <% } %>
                    </ul>
                    <form action="/create-order" method="POST">
                        <input type="submit" value="Order Now!">
                    </form>
                    <h2>Total Price <%= %>
                    </h2>
                    <% }else{ %>
                        <h2>No Products in the cart</h2>
                        <%} %>

            </main>
            <%- include('../includes/end.ejs') %>